<html>
<head>
	<meta charset="utf-8">
</head>
<body>
<h1>如何抓取微视视频如何抓取微视视频</h1>
<p>1、首先将视频上传到微视</p>
<p>2、在微视将视频分享到QQ—我的设备电脑</p>
<p>3、电脑的浏览器打开这个视频，浏览器用Chorme内核，推荐使用Chorme原版</p>
<p>4、按F12键打开调试模式，并切换到Network-Media标签下，如下图</p>
<img src="__STATIC__/images/d2.jpg" style="width:100%;">
<p>5、按F5刷新页面，这时候在右侧调试里会出来一个视频的地址，如下图：</p>
<img src="__STATIC__/images/4b.jpg" style="width:100%;">
<p>6、双击这个地址，会在新的标签窗口打开视频的地址，这时候地址栏的地址就是视频的地址了：
https://v.weishi.qq.com/shg_1047_1047_0bf2leaa6aaaruajdddennpbowieb5haac2a.f20.mp4?dis_k=4711b3f0438f8899d9e805534026c43a&dis_t=1583661997&pver=6.5.5&fromtag=0&personid=h5&wsadapt=h5_0308180637_818695133_41.2.133_2_2_2_1_2_0_0_0&qua=v1_iph_weishi_6.5.5_655_app_a&appver=60505</p>
<p>7、我们要对视频进行甄别，提取出视频的绝对地址，后面的参数全部略去：
https://v.weishi.qq.com/shg_1047_1047_0bf2leaa6aaaruajdddennpbowieb5haac2a.f20.mp4</p>
<p>8、如果这个绝对地址能够正常打开，则证明这个视频能直接使用，如果不能，则必须把这个视频下载下来，重新上传再获取地址，否则视频的有效期仅仅只有1天！</p>
</body>
</html>